.body-wrapper {
  background-color: darkgrey;
  margin: 0 auto;
  max-width: 90%;
}

h1 {
  margin: 0;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  margin-right: 0.5em;
  /*hide the icons*/
  opacity: 0;
}

.accordion-icon svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.accordion-content {
  text-align: center;
}


/* Mobile breakpoint */
@media screen and (max-width: 767px) {


  h1 {
    font-size: 2em;
  }

  .accordion-title {
    font-size: 1.5rem;
  }

  /* .accordion-content {
    font-size: 1rem;
  } */
}

/* Tablet breakpoint */
@media screen and (min-width: 768px) and (max-width: 1199px) {

  h1 {
    font-size: 3em;
  }

  .accordion-title {
    font-size: 2rem;
  }

  /* .accordion-content {
      font-size: 1.2rem;
    } */
}

/* Desktop breakpoint */
@media screen and (min-width: 1200px) {

  .accordion:hover .accordion-icon {
    /* add a transition effect */
    transition: opacity 0.1s;
    /*show the icons*/
    opacity: 1;
  }

  .accordion:hover {
    cursor: pointer;
  }

  h1 {
    font-size: 4em;
  }

  .accordion-title {
    font-size: 2.5rem;
  }

  /* .accordion-content {
      font-size: 1.5rem;
    } */
}