.body-wrapper {
  margin: 0 auto;
  max-width: 80%;
}

h1 {
  margin: 0;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  margin-right: 0.5em;
  /*hide the icons*/
  opacity: 0;
  /* add a transition effect */
  transition: opacity 0.2s;
}

.accordion-icon svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.accordion-content {
  text-align: center;
}

.accordion-content img {
  max-width: 100%;
  height: auto;
}


/* Mobile breakpoint */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }

  .accordion-title {
    font-size: 1.5rem;
  }
}

/* Tablet breakpoint */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  h1 {
    font-size: 3em;
  }

  .accordion-title {
    font-size: 2rem;
  }
}

/* Desktop breakpoint */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4em;
  }

  .accordion-title {
    font-size: 2.5rem;
  }

  .accordion-content {
    /* hide the accordion content by default */
    display: none;
  }

  .accordion-content-active {
    display: block;
  }

  .accordion-icon-open img {
    /* change icon image when section hovered */
    content: url('../assets/icons/folder-open-regular.svg');
  }

  .accordion:hover .accordion-icon {
    /*show the icons*/
    opacity: 1;
  }

  .accordion:hover {
    cursor: pointer;
  }

  .accordion-section:hover .accordion-icon img {
    /* change icon image when section hovered */
    content: url('../assets/icons/folder-open-regular.svg');
  }


  /* show the accordion content when the user hovers over a meme image */
  .accordion-section:hover .accordion-content {
    display: block;
  }


}