.body-wrapper {
  margin: 0 auto;
  max-width: 80%;
}

h1 {
  margin: 0;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  /*hide the icons*/
  opacity: 0;
  /* add a transition effect */
  transition: opacity 0.5s ease-in-out;
}

.accordion-icon svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.accordion-title-content {
  text-align: center;

}

.accordion-title-content img {
  max-width: 100%;
  height: auto;
}

/* Mobile breakpoint */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }

  .accordion-item-title {
    font-size: 1.5rem;
  }
}

/* Tablet breakpoint */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  h1 {
    font-size: 3em;
  }

  .accordion-item-title {
    font-size: 2rem;
  }
}

/* Desktop breakpoint */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4em;
  }

  .accordion-item-title {
    font-size: 2.5rem;
  }

  .accordion-title-content {
    /* hide the accordion content by default */
    display: none;
    /* transform-origin: top center; */
    transition: 3s ease-in-out;
    transform: scale(0.5);

  }

  .accordion-title-content-active {
    display: block;
  }

  .accordion-icon-open img {
    /* change icon image when item hovered */
    content: url('../assets/icons/folder-open-regular.svg');
  }

  @media (hover :hover) {
    .accordion:hover .accordion-icon {
      /*show the icons*/
      opacity: 1;
    }

    .accordion:hover .accordion-item {
      cursor: pointer;
    }

    .accordion-item:hover .accordion-icon img {
      /* change icon image when item hovered */
      content: url('../assets/icons/folder-open-regular.svg');
    }

    /* show the accordion content when the user hovers over a meme image */
    .accordion-item:hover .accordion-title-content {
      display: block;
      transform: scale(1);
    }
  }
}